<!-- <p>demopipe works!</p> --><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p></p>
    <div>
        <br><br>
      <p>{{title|uppercase}}<br></p>  
        {{today|date:'MMM'|uppercase}}<br>
        {{title|uppercase}}<br>
        {{today|date:'fullDate'}}<br>
        {{user.id}}<br>{{user.name}}
        {{user.salary|currency:'INR'}}<br>
        {{user.name| custome: user.name}}

    </div>
</body>
</html>