<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="second">
        <h1 style="color: red;"> KORE</h1>
        <div><h3>{{title}}</h3></div>
       <div class="simage"><img src="../../assets/download.png" alt="" srcset=""></div> 
       <div class="stext">
        <h1 style="color: orange;"> Simplify IoT</h1>
        <pre>
            My Bonnie lies over the ocean.
            My Bonnie lies over the sea.
            My Bonnie lies over the ocean.
            Oh, bring back my Bonnie to me.
          </pre>
       </div>
        
         <input type="submit" name="mybtn" value="click" (click)="hello()"> 

    </div>
</body>
</html>